/* .section-center{
    color:#102a42;
    line-height: 24px;
    margin: 0px 174.6px;
}
#h3{
    color:#102a42;
    font-family:-apple-system;
    font-size:32px;
    font-weight:700;
    letter-spacing:1.6px;
    line-height:32px;
    margin:0px 0px 12px;
}
.content {
    align-items:center;
    color:#102a42;
    display:grid;
    gap:128px;
    grid-template-columns:521px 521px;
    grid-template-rows:96px;
    line-height:24px;
    margin:32px 0px 0px;
}
#p {
    color:#617d98;
    font-family:-apple-system;
    line-height:32px;
}
.form-input {
    background-color:#ffffff;
    border-color:#222222;
    border-radius: 4px 0px 0px 4px;
    border-style: solid none solid solid;
    border-width: 1.6px 0px 1.6px 1.6px;
    color: #324d67;
    font-family:Arial;
    padding:8px 16px;
}
.submit-btn{
    align-items:flex-start;
    background-color:#ab7a5f;
    border-color:#222222;
    border-radius:0px 4px 4px 0px;
    border-style:solid;
    border-width:1.6px;
    color:#222222;
    font-family:Arial;
    letter-spacing:1.6px;
    padding:8px 16px;
    text-align:center;
    text-transform:capitalize;
} */