.section-center-contact {
    padding: 5rem 0;
}
.c-contact {
    text-transform: none;
    font-size: 1.5rem;
}

p {
    line-height: 2;
    max-width: 45em;
    color: grey;
    
}
.contact-form {
    width: 90vw;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr auto;
}
.form-input,
.submit-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;
}
.form-input {
    background-color: #ffffff;
    border-color: #222222;
    align-items: center;
    border-right: none;
    color: #324d67;
    border-radius: 4px 0px 0px 4px;
}
.form-input::placeholder {
    color: black;
    text-transform: capitalize;
}
.submit-btn {
    background-color: #ab7a5f;
    align-items: flex-start;
    text-transform: capitalize;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: var(--transition);
    color: black;
    border-color: black;
}
.submit-btn:hover {
color: white;
}
@media (min-width: 992px) {
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 8rem;
    margin-top: 2rem;
}
p {
    margin-bottom: 0;
}
}
@media (min-width: 1280px) {

}