/* .featured-products{
    background-color:#f1f5f8;
    color:#102a42;
    line-height: 24px;
    padding: 80px 0px;
}
#h2{
    color:#102a42;
    font-family: -apple-system;
    font-size: 40px;
    font-weight: 700;
    letter-spacing:1.6px;
    line-height: 40px;
    margin: 0px 0px 12px;
    text-align: center;
    text-transform:capitalize;
}
.btn {
    background-color: #ab7a5f;
    border-radius:4px;
    box-shadow:#000000 0px 1px 3px 0px;
    color:#eaded7;
    font-family:-apple-system;
    font-size:14px;
    letter-spacing:1.6px;
    line-height:21px;
    margin:0px 685.6px;
    padding:6px 12px;
    text-align:center;
    text-transform:uppercase;
} */