.star-rating-container {
    padding: 16px;
    margin: 16px auto;
}

.star-rating-result {
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.product-center {
    display: grid;
    gap: 4rem;
    margin-top: 2rem;
    line-height: 24px;
  }
  .btn{
    background-color: #ab7a5f;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 6px 12px;
  }
  .price {
    color: #ab7a5f;
  }
  
  .info {
    text-transform: capitalize;
    width: 300px;
    display: grid;
    grid-template-columns: 125px 1fr;
  }
  span {
    color: #324d67;
    font-weight: 700;
}
  @media (min-width: 992px) {
    .product-center {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    .price {
      font-size: 1.25rem;
    }
  
  }
  