.signup-page {
  width: 100%;
  min-height: calc(100vh - 50px);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 13px;
}
input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 4;
}
.form-container {
  min-height: calc((100vh - 50px) / 2);
  flex-direction: column;
  padding-top: 30px;
}
.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}
.btn-signup {
  width: 100%;
  background-color: white;
  border: 1px solid yellow;
}
.btn-signup:hover {
  width: 100%;
  background-color: yellow;
}
